.App {
  text-align: center;
  // background: #5f9cc8;
  height: 100vh;
}

.btn {
  margin-top: 1rem;
  padding: .75rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #ff4684;
  color: #FFF;
  font-size: 1rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  transition: transform 80ms ease-in;
  &:active {
    transform: scale(0.95);
  }
  &:focus {
    outline: none;
  }
}